@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f1f1;
  color: #350a06;
}

.btn-primary {
  background-color: #350a06;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #56070c;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid rgba(143, 61, 56, 0.1);
}

.card-header {
  padding: 1.25rem 1rem;
  background-color: #350a06;
  color: white;
}

.card-body {
  padding: 1.25rem;
}

.card-footer {
  padding: 1rem;
  background-color: #f6f1f1;
  border-top: 1px solid rgba(143, 61, 56, 0.1);
}